{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>

<body>

    <nav class="top-menu">   
        <div class="nav_links">
            <a class="link-item" href="{% url 'index' %}">home</a>
        </div>
        
        <div class="nav_links">
            <a class="link-item" href="{% url 'logout' %}">Sair</a>
        </div>
    </nav>

    <div class="container_create_post">
    
        <div class="block_container">

            <h1 class="post_create_heading">Editar postagem:</h1>

            <form action="{% url 'atualiza_postagem'%}" method="POST" enctype="multipart/form-data">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}
                    <div>
                        <input type="text" id="postagem-id" name="postagem_id" value="{{postagem.id}}" hidden>
                    </div>
                        <div class="input_field_create_post">
                            categoria:
                            <select name="categoria" id="categoria" >
                                <option value="{{ categoria }}">{{ postagem.categoria}}</option>
                                    {% for categoria in categorias %}  
                                        {% if categoria != postagem.categoria %}
                                            <option id="categoria" value="{{ categoria }}">{{ categoria }}</option>
                                        {% endif %}
                                    {% endfor %}    
                            </select>
                        </div>
                <div class="input_field_create_post" >
                    <label for="titulo">Titulo:</label>
                    <input class="input_title" type="text" name="titulo" value="{{postagem.titulo}}" placeholder="titulo">
                </div>
                <div class="input_field_create_post j_center">
                    <textarea type="text" name="publicacao"  rows="30" cols="80">{{postagem.publicacao}}</textarea>
                </div>

               
                <!-- <label class="picture" for="pictureInput" tabindex="0" >
                    <span class="picture__image">Escolha uma imagem</span>
                    <input type="file" accept="image/*"  name="pictureInput" id="pictureInput"/>
                </label> -->
                    <!-- <button class="btn-publicar" type="submit">Atualizar</button> -->

                    <div class="btn_publicar_post">
                        <div class="picture">
                            <label  for="pictureInput">Escolha uma imagem</label>
                            <input type="file"  name="pictureInput" id="pictureInput">
                        </div > 
                            <button class="btn-atualizar" type="submit">Atualizar</button>
                        </div>
                        <div class="update-img-container">
                        <div class="img-sub-container">
                            <p>Foto atual</p>
                            <img class="blog-img" src="{{ postagem.foto_postagem.url }}" alt="">
                        </div>
                    </div>
            </form>
        </div>
</div>


</body>


</html>